:host {
  padding: 0.5em 0;
  width: 100%;
  border-bottom: solid 0.5px black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.name {
  margin: 0.5em auto 0.5em 0.5em;
}