<div class="hero">
  <div class="image-wrap">
    <img class="avatar" src="avatar.jpg" alt="avatar" />
    <div class="badges">
      <a
        class="link"
        href="https://www.linkedin.com/in/sunlaa/"
        target="_blank"
      >
        <i class="pi pi-linkedin"></i>
      </a>
      <a class="link" href="mailto:santalova.lada25@gmail.com" target="_blank">
        <span style="font-size: 1.3em" class="material-icons">mail</span>
      </a>
      <a class="link" href="https://github.com/sunlaa" target="_blank">
        <i class="pi pi-github"></i>
      </a>
      <a class="link" href="tel:+48789632433" target="_blank">
        <span style="font-size: 1.3em" class="material-icons">call</span>
      </a>
      <a class="link" href="https://t.me/sunlaa" target="_blank">
        <i class="pi pi-telegram"></i>
      </a>
    </div>
  </div>
  <div class="info-wrap">
    <div class="info">
      <h1>Uladzislava Santalava</h1>
      <h2>Angular Frontend developer</h2>
    </div>
    <div class="description">
      <p class="start">
        Originally from Belarus, I currently reside in <b>Warsaw, Poland</b>. I
        hold a residence permit that allows me to work in Poland (karta pobytu z
        adnotacją <b>'dostęp do rynku pracy'</b>).
      </p>
      <p>
        I have <b>2 years</b> of practical experience in development
        using frontend technologies, including the <b>Angular</b> framework.
        Below, you can find all the technologies I have worked with, as well as
        information about my education.
      </p>
      <div class="projects">
        <p>You can also take a look at all my projects.</p>
        <p-button>See all</p-button>
      </div>
    </div>
  </div>
</div>


