<img src="avatar.jpg" alt="avatar" width="300" />
<div class="info">
  <h2>Uladzislava Santalava</h2>
  <h3>Frontend developer</h3>
</div>
<div class="social">
  <p><i class="pi pi-map-marker"></i> Poland, Warsaw</p>
  <p>
    <i class="pi pi-id-card"></i> Karta pobytu z uwagą <i>"Dostęp do rynku pracy"</i>
  </p>
  <p><i class="pi pi-calendar"></i> 25.03.2003</p>

  <a class="link" href="mailto:santalova.lada25@gmail.com" target="_blank">
    <p><i class="pi pi-envelope"></i> santalova.lada25&#64;gmail.com</p>
  </a>
  <a class="link" href="https://www.linkedin.com/in/sunlaa/" target="_blank">
    <p><i class="pi pi-linkedin"></i> Uladzislava Santalava</p>
  </a>
  <a class="link" href="https://github.com/sunlaa" target="_blank">
    <p><i class="pi pi-github"></i> sunlaa</p>
  </a>
</div>
<div class="skills">
  <h2>Skills</h2>

  <div class="skill">
    <h4>Angular</h4>
    <p-progressBar
      [value]="80"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  <div class="skill">
    <h4>RxJS</h4>
    <p-progressBar
      [value]="60"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  <div class="skill">
    <h4>NgRx</h4>
    <p-progressBar
      [value]="60"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  <div class="skill">
    <h4>JavaScript</h4>
    <p-progressBar
      [value]="98"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  <div class="skill">
    <h4>TypeScript</h4>
    <p-progressBar
      [value]="95"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  <div class="skill">
    <h4>HTML</h4>
    <p-progressBar
      [value]="98"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  <div class="skill">
    <h4>CSS (SCSS/SASS)</h4>
    <p-progressBar
      [value]="98"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  <div class="skill">
    <h4>Jest</h4>
    <p-progressBar
      [value]="30"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  <div class="skill">
    <h4>Node.js</h4>
    <p-progressBar
      [value]="20"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
</div>
