h3 {
  margin: 0;
}

p {
  margin-top: 0.3em;
}

.cert {
  color: gray;
  text-decoration: underline;
}

.wrap {
  margin-bottom: 1em;
}

.marker {
  color: white;
  width: 1.5em;
  height: 1.5em;
  background-color: black;
  border-radius: 50%;
}
