<p-timeline [value]="edu">
  <ng-template pTemplate="marker">
    <span class="marker" [style]="{ 'background-color': 'black' }">
      <i class="pi pi-circle-on"></i>
    </span>
  </ng-template>
  <ng-template pTemplate="content" let-edu>
    <div class="wrap">
      <h3>{{ edu.what }}</h3>

      <p class="p-text-secondary">{{ edu.from }} - {{ edu.to }}</p>
      @if (edu.certificate) {
      <a [href]="edu.certificate" target="_blank" class="cert">
        <small>Certificate</small>
      </a>
      }
    </div>
  </ng-template>
</p-timeline>
