<h1 class="title">Skills and education</h1>

<div class="skills">
  <h2>Skills</h2>

  @for (skill of skills; track $index) {
  <div class="skill">
    <h4>{{ skill.skill }}</h4>
    <p-progressBar
      [value]="skill.value"
      [showValue]="false"
      [style]="{ height: '6px' }"
    />
  </div>
  }
</div>

<p-timeline [value]="edu">
  <ng-template pTemplate="marker">
    <i class="pi pi-circle-on" style="font-size: 0.8em;"></i>
  </ng-template>
  <ng-template pTemplate="content" let-edu>
    <div class="wrap">
      <h3>{{ edu.what }}</h3>

      <p class="p-text-secondary">{{ edu.from }} - {{ edu.to }}</p>
      @if (edu.certificate) {
      <a [href]="edu.certificate" target="_blank" class="cert">
        <small>Certificate</small>
      </a>
      }
    </div>
  </ng-template>
</p-timeline>
