<p-divider class="title" align="left" type="solid">
  <h1>Practical experience</h1>
</p-divider>


<p-timeline [value]="exp">
  <ng-template pTemplate="marker">
      <i class="pi pi-circle-on"></i>
  </ng-template>
  <ng-template pTemplate="content" let-exp>
    @if (exp.src) {
    <a [href]="exp.link" target="_blank">
      <div class="img-wrapper">
        <img class="exp-img" [src]="exp.src" alt="" />
      </div>
    </a>
    }
    <div class="desc" [innerHTML]="exp.desc"></div>
    @if(exp.tech) {
    <div class="tech-wrapper">
      <h3>Tech Stack:</h3>
      @for (tech of exp.tech; track $index) { @let src = tech + '.png';
      <img [src]="src" [alt]="tech" width="30" />
      }
    </div>
    }
  </ng-template>
  <ng-template pTemplate="opposite" let-exp>
    <h3>{{ exp.what }}</h3>
    <p class="p-text-secondary">{{ exp.from }} - {{ exp.to }}</p>
  </ng-template>
</p-timeline>
