:host {
  padding: 0 2em;
}

::ng-deep {
  .desc {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .background-info {
      font-size: 0.9em;
      color: gray;
      display: flex;
      flex-direction: column;
      gap: 0.3em;

      p {
        margin: 0;
      }
    }
  }
}

.marker {
  color: var(--primary-color-text);
  width: 1.5em;
  height: 1.5em;
  background-color: black;
  border-radius: 50%;
}

.img-wrapper {
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 1px 2px 5px rgb(147, 147, 147);
  width: 30em;

  .exp-img {
    width: 100%;
    transition: all linear 150ms;
  }
}

a:hover {
  .exp-img {
    transform: scale(0.98);
  }
}

.tech-wrapper {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 2em;
}
